{
	servers {
		trusted_proxies static 128.140.127.215/32 136.0.251.200/32 163.227.178.37/32 212.192.28.196/32 23.230.3.203/32 23.27.211.190/32 2a01:4f8:c012:8c17::1/128
		trusted_proxies_strict
	}
}

:@@WEB_UI_PORT@@ {
	root * /var/www/phpmyadmin
	encode zstd gzip
	file_server

	@forbidden path_regexp forbidden ^/(doc|libraries|setup|sql|templates|vendor)(/|$)
	respond @forbidden 403

	request_body {
		max_size 50GB
	}

	header {
		X-Content-Type-Options "nosniff"
		X-Robots-Tag "none"
		Content-Security-Policy "frame-ancestors 'self'"
		X-Frame-Options "DENY"
		Referrer-Policy "same-origin"
	}

	php_fastcgi 127.0.0.1:9999

	@htaccess path_regexp htaccess /\.ht
	respond @htaccess 403
}
