[client]
port=@@SERVER_PORT@@
socket=/home/container/run/mysqld/mysqld.sock

[mariadbd]
basedir=/opt/mariadb
datadir=/home/container/mysql
tmpdir=/tmp
pid-file=/home/container/run/mysqld/mysqld.pid
socket=/home/container/run/mysqld/mysqld.sock
port=@@SERVER_PORT@@
bind-address=0.0.0.0
skip-external-locking
max_connections=@@MAX_CONNECTIONS@@
event_scheduler=ON
connect_timeout=5
wait_timeout=600
max_allowed_packet=1G
thread_cache_size=128
tmp_table_size=32M
max_heap_table_size=32M
default_storage_engine=InnoDB
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
innodb_buffer_pool_size=256M
innodb_log_buffer_size=8M
innodb_open_files=400
innodb_io_capacity=400
general_log_file=/home/container/log/mysql/mysql.log
slow_query_log_file=/home/container/log/mysql/mariadb-slow.log
long_query_time=10
lc_messages_dir=/opt/mariadb/share
lc_messages=en_US

[mariadb-dump]
quick
quote-names
max_allowed_packet=1G

!includedir /home/container/etc/mariadb/conf.d
