name: Build Azul Prime

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "java/azul-prime/**/*"
      - java/entrypoint.sh
      - .github/workflows/azul-prime.yml

jobs:
  build:
    name: "Azul Prime ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 17
          - 19
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./java
      file: ./java/azul-prime/azul-prime-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:azul-prime-${{ matrix.version }}
    secrets: inherit
