name: Build Bot Redbot

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "bot/redbot/*"
      - .github/workflows/bot-redbot.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./bot/redbot
      file: ./bot/redbot/Dockerfile
      tags: ghcr.io/sparkedhost/images:bot-redbot
