name: Build Bot Modmail

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "bot/modmail/*"
      - .github/workflows/bot-modmail.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./bot/modmail
      file: ./bot/modmail/Dockerfile
      tags: ghcr.io/sparkedhost/images:bot-modmail
