name: Build Bot Lavalink

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "bot/lavalink/*"
      - .github/workflows/bot-lavalink.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./bot/lavalink
      file: ./bot/lavalink/Dockerfile
      tags: ghcr.io/sparkedhost/images:bot-lavalink
