name: Build Bot Bastion

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "bot/bastion/*"
      - .github/workflows/bot-bastion.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./bot/bastion
      file: ./bot/bastion/Dockerfile
      tags: ghcr.io/sparkedhost/images:bot-bastion
