name: Docker Build & Push

on:
  workflow_call:
    inputs:
      context:
        required: true
        type: string
        description: "Docker build context path"
      file:
        required: true
        type: string
        description: "Path to Dockerfile"
      tags:
        required: true
        type: string
        description: "Image tags"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.file }}
          platforms: linux/amd64
          push: true
          tags: ${{ inputs.tags }}
