name: Build .NET Images
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - dotnet/**/*
      - dotnet/entrypoint.sh
      - .github/workflows/dotnet.yml
jobs:
  push:
    name: ".NET ${{ matrix.dotnet_version }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet_version:
          - 3.1
          - 7
          - 8
          - 9
          - 10
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        with:
          version: "v0.9.1"
          buildkitd-flags: --debug
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v3
        with:
          context: ./dotnet
          file: ./dotnet/dotnet-${{ matrix.dotnet_version }}/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/sparkedhost/images:dotnet-${{ matrix.dotnet_version }}
