name: Build .NET

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "dotnet/**/*"
      - .github/workflows/dotnet.yml

jobs:
  build:
    name: ".NET ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.1
          - 7
          - 8
          - 9
          - 10
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./dotnet
      file: ./dotnet/dotnet-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:dotnet-${{ matrix.version }}
    secrets: inherit
