name: Build games-dayz

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/dayz/*"
      - .github/workflows/games-dayz.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/dayz/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-dayz
