name: Build games-mta

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/mta/*"
      - .github/workflows/games-mta.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/mta/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-mta
