name: Build games-source

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/source/*"
      - .github/workflows/games-source.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/source/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-source
