name: Build games-installer

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/installer/*"
      - .github/workflows/games-installer.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/installer/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-installer
