name: Build games-fivem

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/fivem/*"
      - .github/workflows/games-fivem.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/fivem/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-fivem
