name: Build games-steam

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/steam/*"
      - .github/workflows/games-steam.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/steam/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-steam
