name: Build games-cs2

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/cs2/*"
      - .github/workflows/games-cs2.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/cs2/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-cs2
