name: Build games-liteloader-bds

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/liteloader-bds/*"
      - .github/workflows/games-liteloader-bds.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/liteloader-bds/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-liteloader-bds
