name: Build games-dotnet

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/dotnet/*"
      - .github/workflows/games-dotnet.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/dotnet/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-dotnet
