name: Build games-tuxlauncher

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/tuxlauncher/*"
      - .github/workflows/games-tuxlauncher.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/tuxlauncher/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-tuxlauncher
