name: Build games-core-keeper

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/core-keeper/*"
      - .github/workflows/games-core-keeper.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/core-keeper/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-core-keeper
