name: Build games-unturned

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/unturned/*"
      - .github/workflows/games-unturned.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/unturned/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-unturned
