name: Build games-proton

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/proton/*"
      - .github/workflows/games-proton.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/proton/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-proton
