name: Build games-arma3

on:
  push:
    branches:
      - main
    paths:
      - "games/arma3/*"
      - .github/workflows/games-arma3.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/arma3/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-arma3
