name: Build games-rust

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/rust/*"
      - .github/workflows/games-rust.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/rust/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-rust
