name: Build games-altv

on:
  push:
    branches:
      - main
    paths:
      - "games/altv/*"
      - .github/workflows/games-altv.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/altv/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-altv
