name: Build games-valheim

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/valheim/*"
      - .github/workflows/games-valheim.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/valheim/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-valheim
