name: Build games-wine-staging

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/wine-staging/*"
      - .github/workflows/games-wine-staging.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/wine-staging/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-wine-staging
