name: Build games-beammp

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/beammp/*"
      - .github/workflows/games-beammp.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/beammp/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-beammp
