name: Build games-mono

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/mono/*"
      - .github/workflows/games-mono.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/mono/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-mono
