name: Build games-bdsx

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/bdsx/*"
      - .github/workflows/games-bdsx.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/bdsx/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-bdsx
