name: Build games-tmodloader

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/tmodloader/*"
      - .github/workflows/games-tmodloader.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/tmodloader/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-tmodloader
