name: Build games-project-zomboid

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "games/project-zomboid/*"
      - .github/workflows/games-project-zomboid.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./games
      file: ./games/project-zomboid/Dockerfile
      tags: ghcr.io/sparkedhost/images:games-project-zomboid
