name: Build games-beammp
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - games/beammp/*
      - .github/workflows/games-beammp.yml
jobs:
  push:
    name: "games-beammp"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        with:
          version: "v0.9.1"
          buildkitd-flags: --debug
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v3
        with:
          context: ./games
          file: ./games/beammp/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/sparkedhost/images:games-beammp
