name: Build generic-mono

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "generic/mono/*"
      - generic/entrypoint.sh
      - .github/workflows/generic-mono.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./generic
      file: ./generic/mono/Dockerfile
      tags: ghcr.io/sparkedhost/images:generic-mono
