name: Build generic-debian

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "generic/debian/*"
      - generic/entrypoint.sh
      - .github/workflows/generic-debian.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./generic
      file: ./generic/debian/Dockerfile
      tags: ghcr.io/sparkedhost/images:generic-debian
