name: Build generic-wine

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "generic/wine/*"
      - generic/entrypoint.sh
      - .github/workflows/generic-wine.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./generic
      file: ./generic/wine/Dockerfile
      tags: ghcr.io/sparkedhost/images:generic-wine
