name: Build golang-121
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - golang/golang-121/*
      - golang/entrypoint.sh
      - .github/workflows/golang-121.yml
jobs:
  push:
    name: "golang-121"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        with:
          version: "v0.9.1"
          buildkitd-flags: --debug
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v3
        with:
          context: ./golang
          file: ./golang/golang-121/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/sparkedhost/images-testing:golang-121
