name: Build Go

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "golang/**/*"
      - .github/workflows/golang.yml

jobs:
  build:
    name: "Go ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 121
          - 124
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./golang
      file: ./golang/golang-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:golang-${{ matrix.version }}
    secrets: inherit
