name: Build GraalVM

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "java/graalvm/**/*"
      - java/entrypoint.sh
      - .github/workflows/graalvm.yml

jobs:
  build:
    name: "GraalVM ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
          - 25
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./java
      file: ./java/graalvm/graalvm-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:graalvm-${{ matrix.version }}
    secrets: inherit
