name: Build Java JRE

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "java/temurin/**/*"
      - java/entrypoint.sh
      - .github/workflows/java-jre.yml

jobs:
  build:
    name: "Java JRE ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 8
          - 11
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
          - 25
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./java
      file: ./java/temurin/java-jre${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:java-jre${{ matrix.version }}
    secrets: inherit
