name: Build MariaDB

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "databases/mariadb/**/*"
      - .github/workflows/mariadb.yml

jobs:
  build:
    name: "MariaDB ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 10.4
          - 10.5
          - 10.6
          - 10.7
          - 10.8
          - "10.10"
          - "11.0"
          - 11.1
          - 11.2
          - 11.3
          - 11.4
          - 11.5
          - 11.6
          - 11.7
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./databases/mariadb
      file: ./databases/mariadb/mariadb-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:mariadb-${{ matrix.version }}
    secrets: inherit
