name: Build MongoDB

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "databases/mongodb/**/*"
      - .github/workflows/mongodb.yml

jobs:
  build:
    name: "MongoDB ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 6
          - 7
          - 8
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./databases/mongodb
      file: ./databases/mongodb/mongodb-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:mongodb-${{ matrix.version }}
    secrets: inherit
