name: Build network-debian

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "troubleshooting/network/*"
      - .github/workflows/network-debian.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./troubleshooting
      file: ./troubleshooting/network/Dockerfile
      tags: ghcr.io/sparkedhost/images:network-debian
