name: Build Node.js

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "nodejs/**/*"
      - .github/workflows/nodejs.yml

jobs:
  build:
    name: "Node.js ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./nodejs
      file: ./nodejs/nodejs-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:nodejs-${{ matrix.version }}
    secrets: inherit
