name: Build PHP 8.3

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "php/php-8.3/*"
      - php/entrypoint.sh
      - .github/workflows/php-8.3.yml

jobs:
  build:
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./php
      file: ./php/php-8.3/Dockerfile
      tags: ghcr.io/sparkedhost/images:php-8.3
