name: Build php-8.3
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - php/php-8.3/*
      - php/entrypoint.sh
      - .github/workflows/php-8.3.yml
jobs:
  push:
    name: "php-8.3"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        with:
          version: "v0.9.1"
          buildkitd-flags: --debug
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v3
        with:
          context: ./php
          file: ./php/php-8.3/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/sparkedhost/images-testing:php-8.3
