name: Build PostgreSQL

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "databases/postgres/**/*"
      - .github/workflows/postgres.yml

jobs:
  build:
    name: "PostgreSQL ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 14
          - 15
          - 16
          - 17
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./databases/postgres
      file: ./databases/postgres/postgres-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:postgres-${{ matrix.version }}
    secrets: inherit
