name: Build Python

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "python/**/*"
      - .github/workflows/python.yml

jobs:
  build:
    name: "Python ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.6
          - 3.7
          - 3.8
          - 3.9
          - 3.1
          - 3.11
          - 3.12
          - 3.13
          - 3.14
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./python
      file: ./python/python-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:python-${{ matrix.version }}
    secrets: inherit
