name: Build Redis

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "databases/redis/**/*"
      - .github/workflows/redis.yml

jobs:
  build:
    name: "Redis ${{ matrix.version }}"
    strategy:
      fail-fast: false
      matrix:
        version:
          - 6
          - 7
    uses: ./.github/workflows/docker-build.yml
    with:
      context: ./databases/redis
      file: ./databases/redis/redis-${{ matrix.version }}/Dockerfile
      tags: ghcr.io/sparkedhost/images:redis-${{ matrix.version }}
    secrets: inherit
